@import "tailwindcss";
@source "../views";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@plugin "flyonui";
@import "flyonui/variants.css";
@source "../node_modules/flyonui/flyonui.js";
@plugin "@iconify/tailwind4";

.datatable-dropdown, .datatable-search
{
    flex-grow: 1;
}

.datatable-top
{
    flex-direction: row;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.swal2-actions
{
    column-gap: 12px;
}

/* .title-label-page
{
    color: black;
    font-size: 24px;
    font-weight: 500;
} */


